+++
title = "Ecological Dynamics & Forecasting Course"
linkTitle = "Ecological Dynamics & Forecasting Course"

+++

{{< blocks/cover title="Ecological Dynamics & Forecasting Course" image_anchor="top" height="min" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Lessons <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/weecology/forecasting-course">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="primary">}}
<div class="col">
<h4 class="text-center">
	This is a course on how ecological systems change through time and how to forecast how they will change in the future.
	It combines reading and discussing primary scientific literature with R tutorials on how to work with time-series data and make forecasts in R.
</h4>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-lightbulb" title="Taught @UF" %}}
This course is taught each Fall at the University of Florida by Drs. Morgan Ernest and Ethan White.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-book" title="Learn on Your Own" %}}
The full course including lecture notes and R tutorials is openly available on this site so that anyone can learn these important approaches and skills for themselves.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Use & Contribute" url="https://github.com/weecology/forecasting-course" %}}
Course materials are openly licensed and developed on GitHub.
Anyone is welcome to use the material in their own courses and contributions are always welcome.
{{% /blocks/feature %}}


{{< /blocks/section >}}
